body{
    background-color: black;
}

#cabecalho{
    display: grid;
    grid-template-rows : 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 10px solid white;
    width: 60%;
    height:200px;
    margin-bottom: 100px;
    margin-left: 300px;
}
h3 {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: white;
    grid-column-start: 1 ;
  }
  
#SCORE{
    color: white;
    display:flex;
    grid-column-start: 2;
    grid-row-start: -4;
    margin-left: 60%;
    justify-content: space-around;
}


#escolhas{
    color: white;
    height: 200px;
    display:flex;

    align-items: center; /* Centraliza verticalmente */
    margin-left: 35%;
}

.icons{
    font-size: 100px; /* Define o tamanho dos ícones */
    color: white; /* Define a cor dos ícones */
    margin: 0 40px; /* Espaçamento entre os ícones */
}

#rock{
    border: 5px solid green;
    border-radius: 100%;
    background-color: green;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
}

#paper{
border: 5px solid red;
border-radius: 100%;
background-color: red;
margin-bottom: 100%;
cursor: pointer;
outline: none;
transition: transform 0.2s ease;
}
#scissors{
    border: 5px solid blue;
    border-radius: 100%;
    background-color: blue;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease;
}

#paper:hover{
    transform: scale(1.1);
}

#rock:hover{
    transform: scale(1.1);
}

#scissors:hover{
    transform: scale(1.1);
}

#resultado {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    text-align: center;
    transition: opacity 1s ease-in-out;
}
